input[type="file"] {
	display: none;
}

input[type="reset"] {
	display: none;
}

.matakuada {
	position: relative;
	cursor: pointer;
}

.matakuhilang {
  position: absolute;
  top: 15%;
  right: -8%;
  font-size: 20px;
}

#fullimage {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat no-repeat;
  background-position: center center;
  background-color: rgba(0, 0, 0, 0.5);
	animation: fadein 0.5s;
	cursor: pointer;
}

#myAvatar img {
	transition: transform .2s;
	cursor: pointer;
	transition: margin-bottom 0.2s ease-in-out, transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

#myAvatar img:hover {
	transform: scale(1.2);
	margin-bottom: 20px;
	box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 5px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

#bigger{
	transition: transform 0.2s ease-in-out;
}

#bigger:hover {
	transform: scale(1.2);
}

/* keyframes */

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}